

.container{
    box-sizing: border-box;
    padding: 10px;
    background-color: #f6f6f6;
    position:absolute;
    top:50px;
   width:100%;
    .header{
        position: relative;
         width:100%;
        border-bottom: 1px solid #cbcbcb;
        
            h3{
                text-align: left;
                font-size: 16px;
                 width:100%;
            }
            .intro{
                margin-top: 10px;
                margin-bottom: 10px;
               
                height: 20px;
                color: #cbcbcb;
                .tags{
                    
                    display: inline-block;
                    float: left;
                    height: 20px;
                    line-height: 20px;
                    padding: 1px 6px;
                    border-radius: 4px;
                    background-color: #cbcbcb;
                    color: #fff;
                    font-size: 10px;
                }
                .info{
                     
                    float: right;
                    line-height: 20px;
                    font-size: 10px;
                    i{
                        width: 100%;
                       padding-right: 6px;
                       padding-left: 6px;
                    }
                }
             }
    }
    .content{
        padding-top: 13px;
        width:100%;
        img{
            width:100%
        }
        p{
             width:100%;
            line-height: 25px;
            margin-bottom: 7px;
        }
    }
    .newest{
        h6{
             width:100%;
            position: relative;
            height: 17px;
            margin: 0 0 17px;
            padding-top: 20px;
            border-top: 1px solid #cbcbcb;
            font-size: 15px;
            font-weight: 300;
            text-align: center;
            span{
                 width:100%;
                padding:0 10px 0 10px;
            }
        }

         ul{
             width:100%;
                li{
                     width:100%;
                    margin-bottom: 10px;
                    height:80px;
                    .pic{
                         width:100%;
                            float: left;
                            width: 44.6%;
                            height: 100%;
                            img{
                                width: 100%;
                            }

                    }
                    .content{
                         width:100%;
                            position: relative;
                            box-sizing: border-box;
                            float: right;
                            width: 55.4%;
                            height: 100%;
                            padding: 5px 10px;
                            overflow: hidden;
                            h5{
                                 width:100%;
                                    font-size: 13px;
                                    color: #343434;
                                    font-weight: 300;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    margin: 0px;
                            }
                            p{ 
                                 width:100%;
                                margin-top: 3px;
                                    color: #888;
                                span{
                                     width:100%;

                                    line-height: 25px;
                                    margin-left: 3px;
                                    font-size: 4px;
                                    vertical-align: top;
                                }
                            }
                            
                            .text{
                                
                                position: absolute;
                                
                                right: 0;
                                width: 100%;
                                line-height:17px;
                                padding: 0 10 10 10px;
                                font-size: 10px;
                                color: #888;
                                word-wrap: break-word;
                                overflow: hidden;
                                text-overflow: ellipsis;
                               
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                    }
                }
            }
            
    }
    .footer{
        box-sizing: border-box;
        .switch{
            
             
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
            padding-right: 10px;
            text-align: left;
            border-top: 1px solid #dcdcdc;
            border-bottom: 1px solid #dcdcdc;
            font-size:14px;
            .toTop{
                
                float:right;
                 
            }
            span{
                padding:5px;
                 
            }
        }
        .copyRight{
             width:100%;
            height:50px;
            line-height: 50px;
            text-align: center;
            font-size:12px
        }
    }

}


