.main{
	position:absolute;
	top:100px;
	overflow:auto;
	width:100%;
	//overflow:hidden;
	ul{
		width:100%;
		li{
			list-style:none;
			width:100%;
		img{
			width:375px;
		}
	}
	}
	
	.good{
		width:100%;
		margin-top:10px;
		margin-bottom:5px;
		.first{
			color:#c30413;
		}
		.second{
			color:black;
			font-size:16px;
			line-height:25px;
		}
	}

	.intro{
		width:45%;
		float:left;
		margin-left:10px;
		img{
			width:100%;
		}
		.stright{
			width:90%;
			border-top:1px solid lightgrey;
			display:block;
			margin-left:5px;
			margin-top:5px;
			margin-bottom:1px;
		}
		.title{	
			font-size:13px;
			margin-left:5px;
			width:100%;
			overflow: hidden;
		 	text-overflow: ellipsis;
			white-space: nowrap;
		}
		.origin{
			font-size:13px;
			color:grey;
			margin-left:5px;
			margin-top:5px;
			margin-bottom:5px;
		}
		.small{
			span{
				margin-left:5px;
				color:grey;
				font-size:13px;
			}
			i{
				margin-left:5px;
			}
			.gohome{
				display:block;
				width:30px;
				float:left
			}
			.hours{
				display:block;
				width:60px;
				float:right;
			}
		}
		margin-bottom:5px;

	}

	.loadmore{
		width:90%;
		background:#c30413;
		height:40px;
		margin-top:15px;
		margin-left:15px;
		margin-bottom:10px;
		border-radius:3px;
		color:white;
		line-height:40px;
		text-align:center;

	}
	/* .return{
		border-top:1px solid lightgrey;
		border-bottom:1px solid lightgrey;
		width:100%;
		height:35px;
		line-height:35px;

		p{
			float:left;
			color:grey;
			font-size:14px;
			margin-left:5px;
		}
		.gobacktop{
			float:right;
			margin-right:10px
		}

	}

	.foot{
		height:40px;
		width:100%;
		line-height:40px;
		text-align:center;
		color:grey;
		font-size:13px;
	}
 */
}
.clear{
	overflow:hidden;
	clear:both;
	content:"";
}


