.main{
	position:fixed;
	top:50px;
	left:0;
	width:100%;
	background:rgba(0,0,0,0.8);
	height:620px;
	z-index:20;
	.content{
		width:170px;
		background:white;
		color:black;
		height:620px;
		img{
			width:70px;
			height:70px;
			border-radius:50%;
			margin-top:30px;
			margin-left:40px;
		}
		p{
			width:70px;
			height:30px;
			margin-top:20px;
			margin-left:45px;
			font-size:20px
		}
		ul{
			margin-top:50px;
			li{
				height:50px;
				text-align:left;
				line-height:50px;
				border-top:1px solid lightgrey;
				padding-left:5px;
				list-style:none;
				span{
					color:red;
					font-size:25px;
					margin-right:0px;
				}
			}
			.last{
				text-align:center;
				color:red;
				border-bottom:1px solid lightgrey;
			}
		}
	}
}
.notShow{
	display:none;
}